<footer>
    <div class="footer-row">
        <div class="footer-column">
            &copy Explore Iceland
        </div>
        <div class="footer-column">
            <div><a href="/home"><img class="footer-iceland-logo" src="/images/header/iceland_flag_index.png" alt="Explore Iceland Logo"></a>
                <span class="footer-logo-title">Explore Iceland</span></div>
        </div>
        <div class="footer-column">
            <p>Explore Iceland Company<br/> 1 London Road<br/> Kensington<br/> D2J2 J1234</p>
        </div>
        <div class="footer-column">
            <p>Follow Us</p>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
</footer>
</body>

</html>