<!DOCTYPE html>
<html>
	<head>
		<title>Visit Iceland</title>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="stylesheets/home.css">
		<link rel="shortcut icon" href="/images/header/iceland_flag_index_favicon.ico">
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.5.0.min.js"integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="crossorigin="anonymous"></script>
	</head>
	


	<body>
	<div class="header">
		<a href="/"><div class="top-left">
			<img class="top-left-image" src="/images/header/iceland_flag_index.png" alt="Iceland Flag">
			<span class="logo-title">Explore Iceland</span>
		</div></a>
		<div class="header-nav">
			<div class="nav-options">
				<span>home</span>
				<span>explore</span>
				<span>things to do</span>
				<span>places to stay</span>
				<span>facts</span>
				<span>book</span>
				<span>shop</span>
				<span>planner</span>
			</div>
		</div>
	</div>