<!DOCTYPE html>
<html>
	<head>
		<title>Explore Iceland</title>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
		<link rel="stylesheet" href="stylesheets/main_header.css">
		<link rel="stylesheet" href="stylesheets/home.css">
		<link rel="stylesheet" href="stylesheets/explore.css">
		<link rel="shortcut icon" href="/images/header/iceland_flag_index_favicon.ico">
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="stylesheets/footer.css"/>
		<script src="https://code.jquery.com/jquery-3.5.0.min.js"integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="crossorigin="anonymous"></script>
	</head>
	
	<body>
	<div class="header">
		<div class="top-left">
			<a href="/home"><img class="top-left-image" src="/images/header/iceland_flag_index.png" alt="Explore Iceland Logo"></a>
			<span class="logo-title">Explore Iceland</span>
		</div>
		<!-- Menu For Tablets and Mobiles -->
		<a href="#main-menu" 
		id="main-menu-toggle"
		class="menu-toggle"
		aria-label="Open main menu">
			<span class="sr-only">Open main menu</span>
    		<span class="fa fa-bars"></span>
  		</a>
  		<nav id="main-menu" class="main-menu" aria-label="Main menu">
    		<a href="#main-menu-toggle" 
    		id="main-menu-close"
    		class="menu-close"
    		aria-label="Close main menu">
    		<span class="sr-only">Close main menu</span>
      		<span class="fas fa-arrow-circle-left" aria-hidden="true"></span>
    		</a>
    		<ul>
    			<li><a href="#">Sign In</a></li>
      			<li><a href="#">Login</a></li>
      			<a href="/home"><li>Home</li></a>
      			<a href="/explore"><li>Explore</li></a>
      			<li><a href="#">Things To Do</a></li>
      			<li><a href="#">Places To Stay</a></li>
      			<li><a href="#">Facts</a></li>
      			<li><a href="#">Book</a></li>
      			<li><a href="#">Shop</a></li>
      			<li><a href="#">Planner</a></li>
      			<li><a href="#">About</a></li>
      			<li><a href="#">Contact</a></li>
    		</ul>
  		</nav>
  		<a href="#main-menu-toggle" 
  		class="backdrop" 
  		tabindex="-1"
  		hidden></a>
  		<!------------------------->
		<div class="extra-nav-container">
			<div class="title-icons-container">
			<a href="#"><span class="partners-title">Our Partners</span></a>
				<div class="icons">
					<a href="#"><img src="/images/header/Company1.png" alt="Company1"></a>
					<a href="#"><img src="/images/header/Company2.png" alt="Company2"></a>
					<a href="#"><img src="/images/header/Company3.png" alt="Company3"></a>
				</div>
				<!--Search Bar-->
				<div class="search-bar-container">
					<label for="site-search"><img src="/images/header/Search_Sml.png"></label>
					<input type="search" id="site-search" name="q" aria-label="Search through site content" placeholder="Search Explore Iceland">
				</div>
				<!--Hidden until 1271px-->
				<div class="contact-authentication-container-1271px"> 
					<div class="about-contact-container-1271px">
						<span>ABOUT</span><i class="far fa-question-circle"></i>
						<span>CONTACT<span><i class="far fa-envelope"></i>
					</div>
					<div class="login-signup-container-1271px">
						<span>LOGIN</span><i class="fas fa-sign-in-alt"></i>
						<span>SIGN UP</span><i class="fas fa-user-plus"></i>
					</div>
				</div>
				<!------------------------->
				<!--Hidden until 850px-->
				<div class="search-bar-container-850px">
					<label for="site-search"><img src="/images/header/Search_Sml.png"></label>
					<input type="search" id="site-search" name="q" aria-label="Search through site content" placeholder="Search Explore Iceland">
				</div>
				<!---------------------->
			</div>

			<div class="contact-authentication-container">
				<div class="about-contact-container">
					<span>ABOUT</span><i class="far fa-question-circle"></i>
					<span>CONTACT<span><i class="far fa-envelope"></i>
				</div>
				<div class="login-signup-container">
					<span>LOGIN</span><i class="fas fa-sign-in-alt"></i>
					<span>SIGN UP</span><i class="fas fa-user-plus"></i>
				</div>
		    </div>

			<div class="login-signup-container"></div>
		</div>

		<!---------
			MAIN NAV FOR LARGER SCREENS
		-->
		<div class="header-nav">
			<div class="nav-options">
				<a href="/home" class="home-nav-option"><span>home</span></a>
				<a href="/explore" class="explore-nav-option"><span>explore</span></a>
				<span>things to do</span>
				<span>places to stay</span>
				<span>facts</span>
				<span>book</span>
				<span>planner</span>
				<span class="tel-number">+02795 468 152732</span>
			</div>
		</div>

	</div>