<!DOCTYPE html>
<html>
	<head>
		<title>Explore Iceland</title>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
		<link rel="stylesheet" href="stylesheets/main_header.css">
		<link rel="stylesheet" href="stylesheets/home.css">
		<link rel="shortcut icon" href="/images/header/iceland_flag_index_favicon.ico">
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.5.0.min.js"integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="crossorigin="anonymous"></script>
	</head>
	
	<body>
	<div class="header">

		<a href="/"><div class="top-left">
			<img class="top-left-image" src="/images/header/iceland_flag_index.png" alt="Iceland Flag">
			<span class="logo-title">Explore Iceland</span>
		
		</div></a>
		<div class="extra-nav-container">
			<div class="title-icons-container">
			<a href="#"><span class="partners-title">Our Partners</span></a>
				<div class="icons">
					<a href="#"><img src="/images/header/Company1.png" alt="Company1"></a>
					<a href="#"><img src="/images/header/Company2.png" alt="Company2"></a>
					<a href="#"><img src="/images/header/Company3.png" alt="Company3"></a>
				</div>
				<!--Search Bar-->
				<div class="search-bar-container">
					<label for="site-search"><img src="/images/header/Search_Sml.png"></label>
					<input type="search" id="site-search" name="q" aria-label="Search through site content" placeholder="Search Explore Iceland">
				</div>
			</div>

			<div class="contact-authentication-container">
				<div class="about-contact-container">
					<span>ABOUT</span><i class="far fa-question-circle"></i>
					<span>CONTACT<span><i class="far fa-envelope"></i>
				</div>
				<div class="login-signup-container">
					<span>LOGIN</span><i class="fas fa-sign-in-alt"></i>
					<span>SIGN UP</span><i class="fas fa-user-plus"></i>
				</div>
		    </div>

			<div class="login-signup-container"></div>
		</div>
		<div class="header-nav">
			<div class="nav-options">
				<span>home</span>
				<span>explore</span>
				<span>things to do</span>
				<span>places to stay</span>
				<span>facts</span>
				<span>book</span>
				<span>shop</span>
				<span>planner</span>
				<span class="tel-number">+02795 468 152732</span>
			</div>
		</div>

	</div>