</div>
<footer>
    <div class="footer-row">
        <div class="footer-column">
            &copy Explore Iceland
        </div>
        <div class="footer-column">
            <div><a href="/home"><img class="footer-iceland-logo" src="/images/header/iceland_flag_index.png" alt="Explore Iceland Logo"></a>
                <span class="footer-logo-title">Explore Iceland</span></div>
        </div>
        <div class="footer-column">
            <p>Explore Iceland Company<br/> 1 London Road<br/> Kensington<br/> D2J2 J1234</p>
        </div>
        <div class="footer-column">
            <p>Follow Us</p>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/javascript/fadeShowHideFlash.js"></script>
<script src="/javascript/loading.js"></script>
<script src="/javascript/sliders.js"></script>
<script src="/javascript/scrollToFunctionsNav.js"></script>
<script src="/javascript/carousel.js"></script>


</body>


</html>