<%- include("partials/main_header") %>
<div class="bootstrap" style="background-color: #343F4B;">
  <div class="jumbotron jumbotron-fluid" style="background-color: #242526; color: white; text-align: center; margin-bottom: 5px;">
    <div class="container">
      <h1 class="display-4">10 Facts About Iceland</h1>
      <p class="lead">Iceland has been an extremely popular destination in the last few years, so much so that you may think you already know a lot about this Nordic gem. But here are some fun Iceland facts that you may not have heard before.</p>
      <p style="font-size: 12pt; color: gray;">https://www.nordicvisitor.com/blog/fun-facts-travel-iceland/</p>
    </div>
  </div>
        <!-- 1 -->
      <article>
        <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/1_parliment_small.jpeg" alt="iceland parliment building">
            <div class="card-body" style="padding: 20px;">
                <p style="font-size: 12pt; color: gray;">Image From Wikipedia.com</p>
              <h2 class="card-title">1. ICELAND HAD ONE OF THE FIRST PARLIAMENTS IN THE WORLD</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                We like to think that civilization and democracy are relatively new. They are a work in progress, after all! But Iceland boasts one of the oldest known parliaments in human history.</p>
                <p class="card-text">
                Dating all the way back to the year 930, the first national parliament was founded in Thingvellir, which is now a national park. Many of the early settlers were Vikings or Celts.</p>
                <p class="card-text">
                The Alþingi (Icelandic for “assembly” but also meaning “parliament”) ran until 1800. Then, after a 45-year hiatus, it was set up in the Icelandic capital of Reykjavik.</p>
                <p class="card-text">
                This makes it – arguably – the oldest surviving parliament in the world.</p>
                <p style="font-size: 12pt; color: gray;">https://adventures.is/information/iceland-facts/</p>
            </div>
          </div>
        </article>
          <!-- 2 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/2_sparse_population_small.jpeg" alt="icelandic town">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title">2. IT’S ONE OF THE MOST SPARSELY POPULATED COUNTRIES ON EARTH</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                    One of the reasons for Iceland’s beauty is that it’s relatively untouched by human interference. Much of this country is not ideal for human settlement: The glacier Vatnajökull covers about 8% of the country’s landmass, for instance. And we wouldn’t recommend building a house at the foot of an active volcano!
                </p>
                <p class="card-text">
                    Consequently, Iceland has an average of about 8 people per square mile (or 3 people per kilometre). Like many sparsely populated countries, most of Iceland’s people reside in cities:  Reykjavik houses roughly 1/3 of the country’s population.</p>
                <p class="card-text">
                    Iceland’s population is about 300,000 people, so about 1/10th the population of San Francisco.</p>
                <p style="font-size: 12pt; color: gray;">https://adventures.is/information/iceland-facts/</p>
            </div>
          </div>
        </article>
          <!-- 3 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/4_no_standing_army_small.jpeg" alt="police siren">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title">3. ICELAND HAS NO STANDING ARMY</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                    Iceland might look intimidating, thanks to its explosive geography, but it is actually an unusually peaceful and laidback place. Violent crime is famously low, and its young population needn’t fear being drafted into combat any time soon.</p>
                <p class="card-text">
                    In fact, Iceland is the only NATO country not to have a standing army, air force or navy. It does have a Crisis Response Unit (ICRU), which is a small, peacekeeping force of about 200 staff. These employees do not carry arms or wear a uniform in most circumstances.</p>
                <p class="card-text">
                    There’s also a national coast guard and air defence system. However a lack of a standing army means there is no permanent, professional, full-time military force.</p>
                <p style="font-size: 12pt; color: gray;">https://adventures.is/information/iceland-facts/</p>
            </div>
          </div>
        </article>
          <!-- 4 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/5_no_mcdonalds_small.jpeg" alt="Mcdonald's restaurant">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title">4. THERE’S NO MCDONALD’S</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                    Along with armed forces, another thing you’re unlikely to see in Iceland is a Big Mac.</p>
                <p class="card-text">
                    McDonald’s used to have a small handful of branches in Reykjavik, and indeed, the famous burger franchise was a success at first. However, after the initial honeymoon period, business diminished. And – even more importantly – after the financial crash in 2008, ingredients imported to Iceland soared in price, with the McDonald’s food following suit. This led to a domino effect and ultimately the shutting down of McDonalds restaurants in Iceland.</p>
                <p class="card-text">
                    The last cheeseburger sold in Iceland is still on display as a museum exhibit. Visitors to the National Museum in Iceland can see the meal, dating back to 2009, encased in glass.</p>
                <p style="font-size: 12pt; color: gray;">https://adventures.is/information/iceland-facts/</p>
            </div>
          </div>
        </article>
          <!-- 5 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/6_elves_and_trolls_small.jpeg" alt="road sign of a troll">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title">5. MANY ICELANDERS BELIEVE IN ELVES AND TROLLS</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                    Between 30 and 40% of Icelanders will not deny the existence of elves. Icelandic folklore is still rich with stories about the Huldufólk, meaning "hidden people", who are said to live in the lava fields.</p>
                <p class="card-text">
                    When constructions take place in certain lava fields of the country, there is even a special spokesperson for the elves.</p>
                <p class="card-text">
                    You may have heard, or seen photos like the one below, of the Reynisdrangar sea stacks near Vík? They dramatically rise from the Atlantic, off the coast of Reynisfjara. </p>
                <p class="card-text">
                    These bizarre-looking rock pillars are said to be petrified trolls, turned to stone when they were exposed to the dawn sunrise, and frozen forever in time.</p>
                <p style="font-size: 12pt; color: gray;">https://www.nordicvisitor.com/blog/fun-facts-travel-iceland/</p>
            </div>
          </div>
        </article>
          <!-- 6 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/7_beer_ban_small.jpeg" alt="beer being poured">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title">6. BEER WAS BANNED IN ICELAND UNTIL 1989</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">Like the United States, Iceland had an unsuccessful spell of prohibition. Unlike the United States, Iceland commemorates the end of prohibition with national beer-themed celebration!</p>
                <p class="card-text">Back in 1908, Iceland voted on an alcohol ban. That ban was amended when it affected their import/export business, as countries like Spain wanted to export wine to Iceland. So, a ban on beer was born. It lasted until 1989. Now, beer is the most popular alcoholic beverage in Iceland.</p>
                <p class="card-text">Beer Day, taking place on March 1st, is an unofficial national holiday marking the occasion. If you’re in Reykjavik, you might see some local (and visiting) revellers engaged in a pub crawl and imbibing in a beer or too. This is no time for judgement: Beer was banned for over 74 years, so they’re making up for lost time!</p>
                <p style="font-size: 12pt; color: gray;">https://www.trafalgar.com/real-word/facts-about-iceland/</p>
            </div>
          </div>
        </article>
          <!-- 7 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/8_northern_lights_small.jpeg" alt="northern lights above trees">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title" style="text-transform: uppercase;">7. The Northern Lights can be seen in Iceland from September to March</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                    Is witnessing the Northern Lights in person on your bucket list? Many travellers are attracted to Iceland as it’s a spectacular destination to experience the Aurora Borealis.</p>
                <p class="card-text">
                    September to March is the best time for this natural light show, although of course it is never a guarantee.</p>
                <p class="card-text">
                    This incredible natural occurrence is created when solar particles interact with the atmosphere in the Earth’s magnetic field. Isn’t science so cool?</p>
                <p style="font-size: 12pt; color: gray;">https://www.trafalgar.com/real-word/facts-about-iceland/</p>
            </div>
          </div>
        </article>
          <!-- 8 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/9_santa_small.jpeg" alt="santa">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title" style="text-transform: uppercase;">8. Iceland has 13 Santas (kind of)</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                    In most of the western world children can’t wait for Christmas Day to see if Santa brought them a lovely gift. In Iceland, children get visited by the 13 Yule Lads.</p>
                <p class="card-text">
                    Icelandic children place their shoe in their bedroom window each evening for 13 days before Christmas. Every night, one of the Yule Lads will visit and leave a small gift for them, depending how each child has been behaving. </p>
                <p class="card-text">
                    From Pottasleikir ('pot-licker'), who likes to steal leftovers, to Hurðaskellir, who likes to slams doors during the night, each Yule Lad has their own personality and idiosyncrasies, which is reflected in their gifts and pranks.</p>
                <p style="font-size: 12pt; color: gray;">https://www.nordicvisitor.com/blog/fun-facts-travel-iceland/</p>
            </div>
          </div>
        </article>
          <!-- 9 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/10_safe_small.jpeg" alt="icelandic buildings">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title" style="text-transform: uppercase;">9. It’s the safest country in the world</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                    You may already know this one, but it’s worth highlighting time and time again. </p>
                <p class="card-text">
                    In Iceland you don’t have to worry about violent crimes. That’s because the country boasts one of the lowest crime rate in the world. For over a decade now, it has always topped the safest countries list. And did you know that Iceland is the only member of NATO that maintains no standing army?</p>
                <p class="card-text">
                    This is thanks to many factors, including a greater sense of equality within the population, which is in turn helped by the small population of just over 333,000. There is a sense that everyone knows each other, which must surely raise the level of trust in one another.</p>
                <p style="font-size: 12pt; color: gray;">https://www.nordicvisitor.com/blog/fun-facts-travel-iceland/</p>
            </div>
          </div>
        </article>
          <!-- 10 -->
        <article>
          <div class="card" style="width: 100%; color: white; background-color: #242526;">
            <img style="max-height: 500px; overflow: hidden; object-fit: cover;" class="card-img-top" src="/images/5_facts/11_handball_small.jpeg" alt="handball">
            <div class="card-body" style="padding: 20px;">
              <h2 class="card-title" style="text-transform: uppercase;">10. Iceland’s national sport is handball</h2><hr style="border-top: 1px solid gray;">
                <p class="card-text">
                    Icelanders love to play sports including football, basketball, volleyball and horseback riding, but did you know the national sport of Iceland is actually handball?</p>
                <p class="card-text">
                    The game is played between two teams consisting of seven players in a rectangular field and the objective of the game is to score by driving the ball into the opposing net. After 60 minutes, the team with the most goals, wins!</p>
                <p class="card-text">
                    Icelander’s love to play (and watch) handball and in 2008, the national team took home a silver medal at the Olympics in Beijing.
                </p>
                <p style="font-size: 12pt; color: gray;">https://www.trafalgar.com/real-word/facts-about-iceland/</p>
            </div>
          </div>
        </article>
    </div>
<%- include("partials/main_footer") %>