<%- include("partials/main_header") %>
<div class="bootstrap" style="background-color: #343F4B; color: white;">
    <header>
    <div class="jumbotron jumbotron-fluid" style="color: white; text-align: center; margin-bottom: 0; background-image: url('/images/6_book/planes.jpeg'); background-size: cover;">
        <div class="container">
          <h1 class="display-4">Book</h1>
          <p class="lead">Decided you want to go to Iceland? <br> Choose a travel vendor and start booking your trip.</p>
        </div>
      </div>
    </header>
      <a href="https://booking.com/" style="color: white; text-decoration: none;" target="_blank">
        <section>
            <div class="card mb-3" style="background-color: #242526; text-align: center; padding-top: 10px;">
                <i class="fas fa-external-link-alt" style="font-size: 1.5em; position: absolute; right: 30px; top: 20px;"></i>
                <img class="card-img-top" src="images/6_book/bookingcom-1icon.png" style="background-color: #242526; max-height: 250px; max-width: fit-content; margin: 10px auto;" alt="Card image cap">
                <div class="card-body" style="padding: 20px;">
                <h3 class="card-title">Booking.com</h3>
                <h5 class="card-title">Rating: 4.4/5</h5>
                <p>&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <small style="color: gray;">Based on reviews on influensta.com - Nov 2021</small>
                <p class="card-text" style="margin-top: 10px;">For all of your hotel and travel needs while away from home, visit Booking.com to make a reservation for one or multiple services.</p>
                <p class="card-text"><small style="color: gray;">alternative.me</small></p>
                </div>
            </div>
        </a>
        </section>
        <a href="https://tripadvisor.com/" style="color: white; text-decoration: none;" target="_blank">
            <section>
            <div class="card mb-3" style="background-color: #242526; text-align: center;">
                <i class="fas fa-external-link-alt" style="font-size: 1.5em; position: absolute; right: 30px; top: 20px;"></i>
                <img class="card-img-top" src="images/6_book/tripadvisor_1.png" style="background-color: #242526; max-height: 250px; max-width: fit-content; margin: 10px auto;" alt="Card image cap">
                <div class="card-body" style="padding: 20px;">
                <h3 class="card-title">Trip Advisor</h3>
                <h5 class="card-title">Rating: 4.7/5</h5>
                <p>&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <small style="color: gray;">Based on reviews on influensta.com - Nov 2021</small>
                <p class="card-text" style="margin-top: 10px;">The Tripadvisor mobile app is available for the Android and iOS platforms. It can be used to create reviews of hotels, restaurants, and to chat with other travelers on Tripadvisor forums. Individuals can also use the app to make travel bookings. More than 500 million reviews have been posted on the platform since it was introduced in 2000.</p>
                <p class="card-text"><small style="color: gray;">alternative.me</small></p>
                </div>
            </div>
            </section>
        </a>
        <a href="https://expedia.com/" style="color: white; text-decoration: none;" target="_blank">
            <section>
            <div class="card mb-3" style="background-color: #242526; text-align: center;">
                <i class="fas fa-external-link-alt" style="font-size: 1.5em; position: absolute; right: 30px; top: 20px;"></i>
                <img class="card-img-top" src="images/6_book/Expedia-Emblem.png" style="background-color: #242526; max-height: 250px; max-width: fit-content; margin: 10px auto; object-fit: cover; width: 100%;" alt="Card image cap">
                <div class="card-body" style="padding: 20px;">
                <h3 class="card-title">Expedia</h3>
                <h5 class="card-title">Rating: 4.4/5</h5>
                <p>&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                <small style="color: gray;">Based on reviews on influensta.com - Nov 2021</small>
                <p class="card-text" style="margin-top: 10px;">Expedia is a website that provides free travel booking services. These booking services include the purchase of airplane tickets, hotels, cars, cruises and other things to do at your destination.</p>
                <p class="card-text"><small style="color: gray;">alternative.me</small></p>
                </div>
            </div>
            </section>
        </a>
</div>
<%- include("partials/main_footer") %>