<%- include("partials/index_header") %>

<link rel="stylesheet" type="text/css" href="stylesheets/index.css">

<!--for cross browser compatibility-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

<div class="container">
	<div class="centered">Velkominn
		<div class="sub-heading"><btn class="btn"><a class="index-btn-link">Begin Your Journey</a></btn>
	</div>		
</div>

<div class="top-left"><img class="top-left-image" src="/images/header/iceland_flag_index.png" alt="Iceland Flag" /><span class="logo-title">Explore Iceland</span></div>

<!--Test we can retrieve information from DB-->
<!--<h1><//%=indexImage.image%></h1>-->

<!--List for image transitions-->
<ul class="slideshow">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>

</div>

<%- include("partials/index_footer") %>