<%- include("partials/main_header") %>

<link rel="stylesheet" type="text/css" href="stylesheets/index.css">

<!--for cross browser compatibility-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

<div class="container">
	<div class="centered">Velkominn
		<div class="sub-heading"><a class="index-btn-link" href="/home"><btn class="btn">Begin Your Journey</btn></a></div>		
</div>

<!--Test we can retrieve information from DB-->
<!--<h1><//%=indexImage.image%></h1>-->

<!--List for image transitions-->
<ul class="slideshow">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>

</div>