<%- include("partials/main_header") %>

<!--<div class="top-left"><img class="top-left-image" src="/images/header/iceland_flag_index.png" alt="Iceland Flag" /><span class="logo-title">Explore Iceland</span></div>-->

<%- include("partials/main_footer") %>