<%- include("partials/main_header") %>
<!-- Section 1 - Top -->
<div class="image-container-1">
	<img class="image1" src="/images/1_home/BgImg_Large1.jpg">
	<p class="image-container-1-main-headline">EVERYTHING YOU NEED TO CREATE YOUR PERFECT ICELANDIC EXPERIENCE IN ONE PLACE</p>
	<!-- Row -->
	<div class="top-images-and-text-row">
		<!-- Columns -->
		<div class="top-images-and-text-column">
			<a href="https://www.booking.com/flights/index.en.html?aid=304142;label=gen173nr-1FCAEoggI46AdIM1gEaFCIAQGYAQm4AQfIAQzYAQHoAQH4AQuIAgGoAgO4AsqR4IsGwAIB0gIkMTBiOTJlOTctODFjMS00NzcxLTkwNDQtMzE4ZjdhZGNiOTdh2AIG4AIB;sid=ef044b618e46a999294cfdff7665eaac;sig=v1nCSEV4JD" target="_blank" style="text-decoration: none;">
				<div id="book-headline" class="top-images-and-text-headline">BOOK</div>
			</a>
			<a href="https://www.booking.com/flights/index.en.html?aid=304142;label=gen173nr-1FCAEoggI46AdIM1gEaFCIAQGYAQm4AQfIAQzYAQHoAQH4AQuIAgGoAgO4AsqR4IsGwAIB0gIkMTBiOTJlOTctODFjMS00NzcxLTkwNDQtMzE4ZjdhZGNiOTdh2AIG4AIB;sid=ef044b618e46a999294cfdff7665eaac;sig=v1nCSEV4JD" target="_blank">
			<img id="book-image" class="top-images-and-text-image" src="/images/1_home/Book_Lg.png"></a>
		</div>
		<div class="top-images-and-text-column">
			<a href="/myplanner" style="text-decoration: none;"><div id="plan-headline" class="top-images-and-text-headline">PLAN</div></a>
			<a href="/myplanner"><img id="plan-image" class="top-images-and-text-image" src="/images/1_home/Plan_Large.png"></a>
		</div>
		<div class="top-images-and-text-column">
			<a href="/explore" style="text-decoration: none;"><div id="explore-headline" class="top-images-and-text-headline" style="text-decoration: none;">EXPLORE</div></a>
			<a href="/explore"><img id="explore-image" class="top-images-and-text-image" src="/images/1_home/Explore_Lg.png"></a>
		</div>
	</div>
</div>

<!-- Section 2 -->
<div class="text-container-2">
	<div class="text-column-explore">
		<a class="heading-description-link" href="https://www.booking.com/flights/index.en.html?aid=304142;label=gen173nr-1FCAEoggI46AdIM1gEaFCIAQGYAQm4AQfIAQzYAQHoAQH4AQuIAgGoAgO4AsqR4IsGwAIB0gIkMTBiOTJlOTctODFjMS00NzcxLTkwNDQtMzE4ZjdhZGNiOTdh2AIG4AIB;sid=ef044b618e46a999294cfdff7665eaac;sig=v1nCSEV4JD" target="_blank"><h4 class="heading-description-title"><strong>Book</strong></h4></a>
		<p class="heading-description">
			Book flights, tours and accommodation with booking.com. Once you book an attraction with any provider, add it to your plan!
		</p>
		</div>
	<div class="text-column-plan">
		<a class="heading-description-link" href="/myplanner"><h4 class="heading-description-title"><strong>Plan</strong></h4></a>
		<p class="heading-description">
			Customise your trip with our planner section. Store your favourite attractions on your account, choose a date and time once booked and see it plotted on an interactive map.
		</p>
	</div>
	<div class="text-column-book">
		<a class="heading-description-link" href="/explore"><h4 class="heading-description-title"><strong>Explore</strong></h4></a>
		<p class="heading-description">
			Discover attractions via our interactive map and explore section with descriptions and pictures of sights you can look forward to experiencing.
		</p>
	</div>
</div>

<!-- Section 3 -->
<a href="/thingstodo" style="color:white;">
<div class="image-container-3">
	<img class="image2" src="/images/1_home/BgImg_Large2.jpg">
	<div class="image2-content">
		<h1>THINGS TO DO</h1>
		<p>In the things to do section you can find our gallery, add to planner, see a location on a map and get more information on your favourite attractions and sights.</p>
		<p>Customise your perfect experience and be informed on what lies in one of the world’s most stunning natural locations.</p>
	<div class="image2-content-images">
		<img class="explore-image-md" src="/images/1_home/Explore_Lg1 2.png">
				<span class="image-para1">See more of your favourite attractions with a gallery showing iceland's natural beauty from many angles and photography styles.</span>
		<img class="plan-image-md" src="/images/1_home/Explore_Med2.png">
				<span class="image-para2">Add attractions to your planner and see the destinations plotted on a map so you know where you're going.</span>
		<img class="book-image-md" src="/images/1_home/Explore_Med3.png">
				<span class="image-para3">Join the discussion and help others make informed decisions by reviewing attractions you have already visited.</span>
		</div>
	</div>
</div>
</a>

<!-- Section 4 - Testimonials -->
<div class="image-container-4-row">
	<p class="testimonials-header">TESTIMONIALS</p>
	<div class="person-column">
		<img class="person-image" src="/images/1_home/PersonImagesReduced/Person1_reduced.png">
		<div class="testimonial-para">"Etiam ultricies orci purus, nec venenatis nulla rhoncus sit amet. Donec lobortis consequat purus eu ultrices!"</div>
	</div>
	<div class="person-column" id="person2-column">
		<img class="person-image" src="/images/1_home/PersonImagesReduced/Person2_reduced.png">
		<div class="testimonial-para">"At urna condimentum mattis pellentesque id nibh! In ante metus dictum at tempor commodo ullamcorper. Turpis massa sed elementum tempus egestas sed sed."</div>
	</div>
	<div class="person-column" id="person3-column">
		<img class="person-image" src="/images/1_home/PersonImagesReduced/Person3_reduced.png">
		<div class="testimonial-para">"Sodales interdum odio. Aliquam placerat, est sed aliquet gravida, tellus neque hendrerit nulla."</div>
	</div>
	</div>



<%- include("partials/main_footer") %>
