<%- include("partials/main_header") %>
<div class="bootstrap">
  <header>
    <div class="jumbotron jumbotron-fluid" style="background-color: #242526; color: white; text-align: center; margin-bottom: 5px;">
        <div class="container">
          <h1 class="display-4">Explore Iceland</h1>
          <p class="lead">Discover with the interactive map below and learn more about famous Icelandic attractions.</p>
        </div>
      </div>
  </header>
</div>
<section>
<div class="map-container">
	<iframe class="map" src="https://www.google.com/maps/d/embed?mid=12QtLtQsMj20OoNZLGRYNZujyKJrSTXYo"></iframe>
</div>
</section>
<%- include("partials/main_footer") %>