<%- include("partials/main_header") %>
<div class="map-container">
	<iframe class="map" src="https://www.google.com/maps/d/embed?mid=12QtLtQsMj20OoNZLGRYNZujyKJrSTXYo&hl=en"></iframe></iframe>
</div>
<%- include("partials/main_footer") %>