<%- include("partials/main_header") %>
<div class="img-things-to-do-container-responsive">
    <div class="img-things-to-do-container-gallery">
        <a href="#">
            <img class="img-things-to-do" src="/images/2_things_to_do/gulfoss_handoff_edited.jpeg">
            <div class="title-things-to-do">Gulfoss Falls</div>
        </a>
            <button class="btn-things-to-do"><a href="#">Find Out More</a></button>
    </div>
</div>

<div class="img-things-to-do-container-responsive">
    <div class="img-things-to-do-container-gallery">
        <a href="#">
            <img class="img-things-to-do" src="/images/2_things_to_do/blue_lagoon3_edited.jpeg">
            <div class="title-things-to-do">The Blue Lagoon</div>
        </a>
            <button class="btn-things-to-do"><a href="#">Find Out More</a></button>
    </div>
</div>

<div class="img-things-to-do-container-responsive">
    <div class="img-things-to-do-container-gallery">
        <a href="#">
            <img class="img-things-to-do" src="/images/2_things_to_do/northern_lights_edited.jpeg">
            <div class="title-things-to-do">Northern Lights</div>
        </a>
            <button class="btn-things-to-do"><a href="#">Find Out More</a></button>
    </div>
</div>

<div class="img-things-to-do-container-responsive">
    <div class="img-things-to-do-container-gallery">
        <a href="#">
            <img class="img-things-to-do" src="/images/2_things_to_do/whale_watching2.jpeg">
            <div class="title-things-to-do">Whale Watching</div>
        </a>
            <button class="btn-things-to-do"><a href="#">Find Out More</a></button>
    </div>
</div>

<div class="img-things-to-do-container-responsive">
    <div class="img-things-to-do-container-gallery">
        <a href="#">
            <img class="img-things-to-do" src="/images/2_things_to_do/skogafoss2_edited.jpeg">
            <div class="title-things-to-do">Skógafoss</div>
        </a>
            <button class="btn-things-to-do"><a href="#">Find Out More</a></button>
    </div>
</div>

<div class="img-things-to-do-container-responsive">
    <div class="img-things-to-do-container-gallery">
        <a href="#">
            <img class="img-things-to-do" src="/images/2_things_to_do/Jökulsárlón_edited.jpeg">
            <div class="title-things-to-do">Jökulsárlón</div>
        </a>
            <button class="btn-things-to-do"><a href="#">Find Out More</a></button>
    </div>
</div>

<div class="clearfix"></div>

<%- include("partials/main_footer") %>