<%- include("partials/main_header") %>
<h1 style="text-align:center;">Add New Thing To Do</h1>
<!-- Bootstrap form with using isolated bootstrap -->
<div class="bootstrap" style="margin-bottom:10px;background-color: #343F4B;color:white;">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 offset-md-3">
                <!-- custom validation not working because of isolated bootstrap
                todo: integrate bootstrap with LESS -->
                <!-- Includes an encoding type allowing uploading of images, requires multer -->
                <form action="/thingstodo" method="POST" class="validated-form" enctype="multipart/form-data">
                    <div style="margin-bottom: 10px;">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="thingstodo[title]" required>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="description" class="form-label">Description</label>
                        <textarea rows="10" type="text" class="form-control" id="description" name="thingstodo[description]" required></textarea>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="thingstodo[location]" required>
                    </div>
                    <div style="margin-bottom: 10px">
                        <label for="tour">Tour URL</label>
                        <input type="text" class="form-control" id="tour" name="thingstodo[tour]" required>
                    </div>
                    <div style="margin-bottom: 10px">
                        <label for="coverImage">Cover Image URL</label>
                        <input type="text" class="form-control" id="coverImage" name="thingstodo[image]" required>
                    </div>
                    <!-- Supports multiple file upload -->
                    <label for="image" class="form-label">Upload images to gallery</label>
                    <input type="file" class="form-control" name="image" id="" style="background-color: lightgray;margin-bottom:10px;cursor:pointer;" multiple required>
                    <!-- Submit -->
                    <div style="margin-bottom: 10px;">
                        <button class="btn btn-success" style="cursor:pointer">Add Thing To Do</button>
                    </div>
                </form>
                <a href="/thingstodo">All Things To Do</a>
            </div>
        </div>
    </div>
</div>
    <!-- Bug - script does not work correctly fix later -->
<%- include("partials/main_footer") %>
