<%- include("partials/main_header") %>
<div class="bootstrap" style="background-color: #343F4B;">
    <article>
    <div class="jumbotron" style="color: white; background-color: #343F4B;";>
        <h1 class="display-4" style="text-align: center;">Hi!</h1>
        <p class="lead" style="text-align: center;">I'm James Cameron-Mowat and I'm a web developer.</p>
        <hr class="my-4">
        <p style="text-align: center;">This is a prototype website mainly intended to show how I code, but if it helps anyone discover Iceland in the process, 
            that’s great too!<br><br>
            This site was made using html, css, bootstrap, vanilla javascript, jquery and node.js with express and mongoose. I look forward to the next project. If you are an employer and are interested in working with me, send an email to: <br><br><strong style="letter-spacing: 2px;">jcm802@gmail.com</strong></p>
            <div class="about-icon-container" style="width: 100%; height: fit-content;">
                <a href="https://github.com/jcm802" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/james-cm/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div> 
      </div>
    </article>
</div>
<%- include("partials/main_footer") %>