body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

.map-container {
    width: 100%;
    height: 545px;
    text-align: center;
    overflow: hidden;
}

.map {
    width: 100%;
    height: 600px;
    border: none;
    margin-top: -53px;
}