body, html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: #343F4B;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.image-container-1 {
  position: relative;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.image1 {
  width: 100%;
}

.image1-content {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image1-content p {
  width: 90%;
  height: 10px;
  font-size: 25px;
  padding-top: 80px;
  word-spacing: 5px;
  box-sizing: border-box;
  margin: 0 auto;
}

.headlines {
  width: 40%;
  position: relative;
  top: 50%;
  left: 0%;
  margin-top: 100px;
}

.explore-headline {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 155%;
  margin-left: 65px;
}

.plan-headline {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 105%;
  margin-left: 4px;
}

.book-headline {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 45%;
}

.image1-content-images {
  display: block;
  width: 80%;
  height: auto;
  position: absolute;
  top: 140%;
  left: 6%;
  bottom: 40px;
}

.image1-content-images img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(102%) contrast(103%);
}

.book-image-lg {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 20px;
  left: 10%;
}

.plan-image-lg {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 20px;
  left: 45%;
}

.explore-image-lg {
  display: inline-block;
  width: 20%;
  position: absolute;
  top: 20px;
  left: 75%;
}

.text-container-2 {
  text-align: center;
  padding: 0 100px 15px 100px;
}

.image-container-3 {
  position: relative;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.image2 {
  width: 100%;
  height: 500px;
}

.image2-content {
  /*background: blue;*/
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image2-content h1 {
  position: relative;
  top: 63px;
  right: 115%;
  width: 100%;
  font-size: 40px;
}

.image2-content p {
  font-size: 18px;
  top: 50px;
  right: 105%;
  position: relative;
  text-align: left;
  width: 350px;
}

.image2-content-images img {
  display: block;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(102%) contrast(103%);
}

.image2-content-images {
  position: absolute;
  top: 50px;
  left: 325px;
}

.explore-image-md {
  position: absolute;
  top: 0px;
  width: 100px;
}

.plan-image-md {
  position: absolute;
  top: 130px;
  width: 100px;
}

.book-image-md {
  position: absolute;
  top: 260px;
  left: 5px;
  width: 93px;
}

.image2-content-images span {
  width: 300px;
  height: 200px;
  display: block;
  text-align: left;
}

.image-para1 {
 position: absolute;
  top: 15px;
  left: 120px;
}

.image-para2 {
  position: absolute;
  top: 150px;
  left: 120px;
}

.image-para3 {
  position: absolute;
  top: 275px;
  left: 120px;
}

.image-container-4 {
  width: 100%;
  position: relative;
  height: 550px;
}

/* Testimonials */

.testimonials-header {
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 100;
}

.person1-container{
  width: 25%;
  text-align: center;
  font-size: 1.2em;
  margin-left: 11%;
  position: absolute;
  font-weight: 100;
}

.person1 {
  width: 72%;
  margin-bottom: 25px;
}

.testimonial-para1 {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 10%;
  padding-bottom: 90px;
  
}
.person2-container{
  width: 25%;
  left: 38%;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  position: absolute;
  left: 37.5%;
  font-weight: 100;
}

.person2 {
  width: 72%;
  margin-bottom: 25px;
}

.person3-container{
  width: 25%;
  left: 65%;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
  position: absolute;
  font-weight: 100;
  
}

.person3 {
  width: 72%;
  margin-bottom: 25px;
}



/* ====================================
   ==================
   ====================================
   ==================

   RESPONSIVE SCALING

   ===============================
   ==================
   =============================
   ==================*/


/* ==================

   MEDIA SCREEN 1271px

  ================== */

@media only screen and (max-width: 1271px) {

  .headlines {
    margin-top: 60px;
  }
 

  .explore-image-lg {
    left: 77%;
  }

  .person1-container {
    left: 0%;
  }

  .person3-container {
    left: 64%;
  }

  .image1-content p {
    font-size: 23px;
  }

}



/* ==================

   MEDIA SCREEN 1132px

  ================== */

@media only screen and (max-width: 1132px) {
  
  .explore-headline {
    left:150%;
  }

  .explore-image-lg {
    left: 76%;
  }

  .image1-content p {
    font-size: 20px;  
  }

  .image2-content h1 {
    visibility: hidden;
  }

  .image2-content p {
    visibility: hidden;
  }

  .image2-content-images img {
    display: block;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(102%) contrast(103%);
  }

  .image2-content-images {
    left: -10%;
  }  

  .person1-container {
    left: 1%;
  }

}

/* ==================

   MEDIA SCREEN 1027px

  ================== */

@media only screen and (max-width: 1027px) {

  .image1-content p {
      font-size: 18px;  
  }

  .image1-content-images {
    left: 6%;
    top: 134%;
  }

  .explore-headline {
    font-size: 40px;
    left:148%;
  }
  .plan-headline {
    font-size: 40px;
  }

  .book-headline {
    font-size: 40px;
  }

  .testimonials-header {
    font-size: 45px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .image-container-4 {
    width: 100%;
    position: relative;
  }

  .person1 {
    width: 100%;
  }

  .person1-container{
   left: 10%;
  }

  .testimonial-para1 {
    width: 100%;
    left: 0.1%;
  }

  .person2 {
    width: 100%;
  }

  .person2-container{
    left: 50%;
  }

  .person3-container{
    visibility: hidden;
  }

}

/* ==================

   MEDIA SCREEN 850px

  ================== */

@media only screen and (max-width: 850px) {

  .image1-content h2 {
      font-size: 7px;
      width: 350px;
      position: relative;
      left: 20%;
  }

  .headlines {
    left: -2%;
  }

  .book-headline {
    font-size: 33px;
  }

  .explore-headline {
    left: 153%;
    font-size: 33px;
  }

  .plan-headline {
    left: 110%;
    font-size: 33px;
  }

  .image1-content p {
    font-size: 17px;
  }

  .book-image-lg {
    width: 20%;
    top: 15%;
  }

  .plan-image-lg {
    width: 20%;
    top: 15%;
  }

  .explore-image-lg {
    width: 20%;
    top: 15%;
    left: 77%;
  }

  .text-container-2 {
    text-align: center;
    padding: 0 20px 10px 20px;
  }

  .image1-content-images {
    left: 6%;
    top: 145%;
  }

  .testimonials-header {
    font-size: 40px;
  }

  .image-container-4 {
    width: 100%;
    height: 450px;
    position: relative;
  }

  .person1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .person1-container{
   left: -3%;
   font-size: 1em;
  }

  .testimonial-para1 {
    width: 100%;
    left: 0.1%;
  }

  .person2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .person2-container{
    left: 38%;
    font-size: 1em;
  }


  .person3-container{
    visibility: visible;
    left: 68%;
    font-size: 1em;
  }

  .person3 {
    width: 100%;
    margin-bottom: 10px;
  }

}

/* ==================

   MEDIA SCREEN 750px

  ================== */

@media only screen and (max-width: 750px) {
  .explore-image-lg {
    left: 79%;
  }

  .image1-content-images {
    top: 135%;
    left: 5%;
  }
  .book-headline{
   font-size: 27px;
  }

  .plan-headline {
    font-size: 27px;
  }

  .explore-headline {
    font-size: 27px;
  }

  
}

/* ==================

   MEDIA SCREEN 660px

  ================== */

@media only screen and (max-width: 660px) {

  .image1-content p {
    font-size: 14px;
    padding-top: 60px;
  }

  .image1-content-images {
    left: 12%;
    top: 128%;
    width: 65%;
  }

  .explore-headline {
    font-size: 22px;
    left: 140%;
  }

  .plan-headline {
    font-size: 22px;
    left: 105%;
  }

  .book-headline {
    font-size: 22px;
    left: 42%;
  }

  .explore-image-lg {
    width: 23%;
    left: 85%;
  }

  .plan-image-lg {
    width: 23%;
  }

  .book-image-lg {
    width: 23%;
    left: 5%;
  }

  .headlines {
    width: 40%;
    position: relative;
    top: 30%;
    left: 1%;
  }

  .image1 {
    height: 250px;
  }

  .testimonials-header {
  font-size: 35px;
  }

  .image-container-4 {
  width: 100%;
  position: relative;
  }

  .person1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .person1-container{
   width: 30%;
   left: 5%;
   font-size: 1em;
  }

  .testimonial-para1 {
    width: 100%;
    left: 0.1%;
  }

  .person2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .person2-container{
    width: 30%;
    left: 55%;
    font-size: 1em;
  }


  .person3-container{
    visibility: hidden;
  }

}

/* ==================

   MEDIA SCREEN 590px

  ================== */

  @media only screen and (max-width: 590px) {
      .image1-content-images {
        left: 13%;
        top: 130%;
      }
  }

/* ==================

   MEDIA SCREEN 530px

  ================== */

  @media only screen and (max-width: 530px) {
    
    .headlines {
      left: -2%;
    }

    .image1-content-images {
      left: 12%;
    }
}

/* ==================

   MEDIA SCREEN 479px

  ================== */

@media only screen and (max-width: 479px) {

  /* .image1-content p {
    font-size: 14px;
  } */

  .headlines {
    width: 16%;
    position: relative;
    top: 30%;
    left: 20%;
  }

  .image1-content-images {
    left: 13%;
    top: 130%;
  }

  .book-headline {
    font-size: 22px;
    left: -30%;
  }

  .plan-headline {
    font-size: 22px;
    left: 90px;
  }

  .explore-headline {
    font-size: 22px;
    left: 140px;
  }

  .book-image-lg {
    width: 25%;
    top: 10%;
    left: 0;
  }

  .plan-image-lg {
    width: 25%;
    left: 130px;
    top: 10%;
  }

  .explore-image-lg {
    width: 25%;
    left: 245px;
    top: 10%;
  }

  .image2-content-images {
    position: absolute;
    top: 50px;
    left: 8%;
  }

  .explore-image-md {
    position: absolute;
    top: 0px;
    width: 80px;
  }

  .plan-image-md {
    position: absolute;
    top: 140px;
    width: 80px;
  }

  .book-image-md {
    position: absolute;
    top: 245px;
    left: 5px;
    width: 70px;
  }

  .image2-content-images span {
    width: 180px;
    height: 200px;
    display: block;
    text-align: left;
  }

  .image-para1 {
    top: 15px;
  }

  .image-para2 {
    top: 150px;
  }

  .image-para3 {
    top: 255px;
  }

  .testimonials-header {
    font-size: 30px;
  }

    .image-container-4 {
    width: 100%;
    position: relative;
  }

  .testimonials-header {
    font-size: 37px;
  }

  .person1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .person1-container{
   width: 50%;
   left: 15%;
   font-size: 1em;
  }

  .testimonial-para1 {
    width: 100%;
    left: 0.1%;
  }

  .person2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .person2-container {
    visibility: hidden;
  }

  .person3-container {
    visibility: hidden;
  }

}

/* ==================

   MEDIA SCREEN 442px

  ================== */

  @media only screen and (max-width: 442px) {
    .image1-content-images {
      left: 10%;
    }

    .headlines {
      left: 15%;
    }
  }

  /* ==================

   MEDIA SCREEN 400px

  ================== */

  @media only screen and (max-width: 400px) {
    
    .headlines {
      left: 15%;
    }

    .image1-content-images {
      left: 10%;
    }
  }

    /* ==================

   MEDIA SCREEN 380px

  ================== */


  @media only screen and (max-width: 380px) {
    
    .headlines {
      left: 13%;
    }

    .book-headline{
      font-size: 20px;
      margin-left: 15%;
    }

    .plan-headline{
      font-size: 20px;
      margin-left: 10%;
    }

    .explore-headline{
      font-size: 20px;
      margin-left: 88%;
    }

    .book-image-lg {
      left: 10%;
    }

    .plan-image-lg {
      left: 52%;
    }

    .explore-image-lg {
      left: 95%;
    }

    .image1-content-images {
      left: 6%;
    }

    .image-container-1 p {
      font-size: 12px;
    }
  }

/* ==================

   MEDIA SCREEN 360px

  ================== */

  @media only screen and (max-width: 360px) {
    


  }

/* Smallest screen 340px*/
@media only screen and (max-width: 340px) {

  /* .image-container-1 p {
    font-size: 12px;
  } */

  .image1-content-images {
    left: 8%;
    top: 129%;
  }

  .book-image-lg {
    width: 30%;
    left: 2%;
  }

  .plan-image-lg {
    width: 30%;
    left: 48%;
  }

  .explore-image-lg {
    width: 30%;
    left: 93%;
  }

  .plan-headline {
    margin-left: -7%;
  }

  .explore-headline {
    margin-left: 65%;
  }

  .image-container-4 {
    height: 350px;
  }

  .testimonials-header {
   font-size: 25px;
  }

  .person1-container {
   left: 14%;
   font-size: 1em;
  }

  .testimonial-para1 {
    width: 130%;
    left: -15%;
  }

}