body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #343F4B;;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
z-index: 1;
}

.top-left-image {
  display: block;
  width: 110px;
  margin-left: 5px;
  margin-bottom: 10px;

}

.logo-title {
  font-family: Domine;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

}

.header {
  /*background-color: #333;*/
	height: 150px;
	position: relative;
}

.header-nav {
	/*background-color: red;*/
	height: 25px;
	width: 100%;
	font-size: 15px;
	position: absolute;
	bottom: 0px;
	text-transform: uppercase;
}

.nav-options {
	/*background-color: blue;*/
	height: 15px;
	font-family: 'Lato', sans-serif;
}

.nav-options span {
	margin-left: 15px;
	margin-right: 50px;
}

/*
.home-nav-option {
	margin-left: 10px;
	margin-right: 10px;
} */