body {
  background-color: #343F4B;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-shadow: 0px 1px 4px rgba(0,0,0,0.5),
             1px 2px 10px rgba(39,26,12,0.4),
             2px 4px 10px rgba(0,0,0,0.3);
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logged-in-as {
  position:absolute;
  top: 135px;
  left: 15px;

}

.spacer {
  flex: 1;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-left-image {
  display: block;
  width: 110px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.logo-title {
  font-family: Domine;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
}

.header {
	height: 160px;
  margin-bottom: 20px;
	position: relative;
  z-index: 998;
}

.header-nav {
	height: 25px;
	width: 100%;
	font-size: 15px;
	position: absolute;
	bottom: 10px;
	text-transform: uppercase;
}

.nav-options {
	font-family: 'Lato', sans-serif;
  height: 20px;
}

.nav-options a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.nav-options a:hover {
  color: #DC1E35;
}

.login-link {
  transition: color 0.5s ease-in-out;
}

.signup-link {
  transition: color 0.5s ease-in-out;
}

.login-link:hover {
  color: #DC1E35;
}

.signup-link:hover {
  color: #DC1E35;
}


.nav-options span {
	margin-left: 15px;
	margin-right: 45px;
}

.extra-nav-container {
  width: 500px;
  height: 90px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 0;
  right: 10px;
}

.extra-nav-container a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}


.partners-container {
  position: absolute;
  top: 0.5em;
  right: 600px;
  width: 650px;
  display: inline-block;
}

.partners-title {
  position: absolute;
  left: 205px;
  top: 43px;
  font-size: 20px;
}

.icons {
  display: inline-block;
  position: absolute;
  left: 350px;
  top: 30px;
}

.icons img {
  width: 50px;
}
/* ---------------------
   Search Bar - Optional 
-------------------------*/
/* .search-bar-container {
  position: absolute;
  display: inline-block;
  top: 45px;
  left: 650px;
}

.search-bar-container input {
  width: 170px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #5A6978;
  outline: none;
  color: #DC1E35;;
  padding: 5px;
  opacity: 0.5;
}

::placeholder {
  color: white;
}

input:focus {
  background-color: white;
}

.search-bar-container label img {
  width: 20px;
  position: absolute;
  top: 4px;
  left: -26px;
} */

.contact-authentication-container {
  width: 200px;
  height: 90px;
  float: right;
  position: absolute;
  top: 20px;
  right: 50px;
}

.about-contact-container {
  width: fit-content;
  height: 40px;
  font-size: 13px;
  box-sizing: border-box;
  position: absolute;
  right: 30px;
  top: 20px;
}

.about-contact-container span  {
  margin: 8px;
}

.about-contact-container a {
  transition: color 0.5s ease-in-out;
}

.about-contact-container a:hover {
  color: #DC1E35;
}

.login-signup-container {
  position: absolute;
  right: 20px;
  top: 50px;
  width: 230px;
  height: 60px;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
}
.login-signup-container a  {
  margin: 7px;
}

.login-signup-container a i {
  margin-left: 7px;
  margin-bottom: 10px;
}

.logout-link {
  padding-left: 95px;
  transition: color 0.5s ease-in-out;
}

.logout-link:hover {
  color: #DC1E35;
}

.contact-authentication-container-1271px {
  visibility: hidden;
}

/* Screen Reader Only*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  position: absolute;
  top: 5px;
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1.5em;
  color: #FFFF;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
  box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
  transition: color 0.5s ease-in-out;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  color: #DC1E35;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

 /*On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could use `.main-menu:target:after`,but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

.menu-toggle, .main-menu .menu-close {
    visibility: hidden;
}

/*
===============================
===== Cross Compatibility =====
===============================
*/


@media only screen and (max-width: 1300px) {

  .icons {
    position: absolute;
    bottom: 20px;
  }

  .menu-toggle, .main-menu .menu-close {
    visibility: visible;
  }

 .partners-container {
    top: 1.5em;
    right: 350px;
}

  .fa-envelope {
    margin-left: -3px;
  }

  .contact-authentication-container {
    /*background: yellow;*/
    visibility: hidden;
  }

  .header-nav {
    display: none;
  }

  .top-left {
    margin-left: 70px;
  }

  .extra-nav-container {
  /*background-color: red;*/
  width: 300px;
  }
}

@media only screen and (max-width: 1100px) {
  /* Optional */
  /* .search-bar-container {
    right: 300px;
    width: 100%;
    left: 300px;
    top: 95px;
  } */

  .partners-container {
    top: 0;
    right: 100px;
}
}

@media only screen and (max-width: 850px) {
  .partners-container {
    right: 0px
  }
}

@media only screen and (max-width: 680px) {

  .partners-container {
    visibility: hidden;
  }

  .top-left {
    text-align: center;
    margin-left: 2px;
    padding-top: 20px;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, -50%);

  }

 .top-left-image {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 6px;
  }

  /* Optional */
  /* .search-bar-container label img {
    visibility: hidden;
  } */
}