.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
z-index: 1;
}

.top-left-image {
  display: block;
  width: 110px;
  margin-left: 5px;
  margin-bottom: 10px;

}

.logo-title {
  font-family: Domine;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

}

.header {
	height: 150px;
	position: relative;
}

.header-nav {
	height: 25px;
	width: 100%;
	font-size: 15px;
	position: absolute;
	bottom: 10px;
	text-transform: uppercase;
}

.nav-options {
	font-family: 'Lato', sans-serif;
  height: 30px;
}

.nav-options a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.nav-options a:hover {
  color: red;
}
.nav-options span {
	margin-left: 15px;
	margin-right: 45px;
}

.tel-number {
  font-size: 20px;
}

.extra-nav-container {
  width: 100%;
  height: 90px;
  margin-left: 200px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

.extra-nav-container a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}


.title-icons-container {
  position: absolute;
  top: 0.5em;
  left: 50px;
  width: 650px;
  display: inline-block;
}

.partners-title {
  position: absolute;
  left: 205px;
  top: 43px;
  font-size: 20px;
}

.icons {
  display: inline-block;
  position: absolute;
  left: 350px;
  top: 30px;
}

.icons img {
  width: 50px;
}

.search-bar-container {
  position: absolute;
  display: inline-block;
  top: 45px;
  left: 650px;
}

.search-bar-container input {
  width: 170px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #5A6978;
  outline: none;
  color: red;
  padding: 5px;
  opacity: 0.5;
}

::placeholder {
  color: white;
}

input:focus {
  background-color: white;
}

.search-bar-container label img {
  width: 20px;
  position: absolute;
  top: 4px;
  left: -26px;
}

.contact-authentication-container {
  width: 200px;
  height: 90px;
  float: right;
}

.about-contact-container {
  width: 220px;
  height: 40px;
  font-size: 13px;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  top: 50px;
}
.about-contact-container span  {
  margin: 12px;
}

.login-signup-container {
  position: absolute;
  right: 35px;
  top: 80px;
  width: 200px;
  height: 45px;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
}
.login-signup-container span  {
  margin: 7px;
}

.contact-authentication-container-1271px {
  visibility: hidden;
}

/* Screen Reader Only*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Button styling */
.menu-toggle {
  position: absolute;
  top: 5px;
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1.5em;
  color: #FFFF;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
  box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

 /*On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could use `.main-menu:target:after`,but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

.menu-toggle, .main-menu .menu-close {
    visibility: hidden;
}

/*
===============================
===== Cross Compatibility =====
===============================
*/
@media only screen and (max-width: 1271px) {
  .tel-number {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1132px) {

  .partners-title {
    position: absolute;
    bottom: 35px;
  }

  .icons {
    position: absolute;
    bottom: 20px;
  }

 .title-icons-container {
    position: absolute;
    top: 0.5em;
    left: 50px;
    width: 600px;
    display: inline-block;
    height: 80px;
    padding: 5px;
}

  .fa-envelope {
    margin-left: -3px;
  }

  .contact-authentication-container {
    /*background: yellow;*/
    visibility: hidden;
  }
}

@media only screen and (max-width: 1027px) {

  .header-nav {
    display: none;
  }

  .menu-toggle, .main-menu .menu-close {
    visibility: visible;
  }

  .top-left {
    margin-left: 70px;
  }

  .extra-nav-container {
  /*background-color: red;*/
  width: 300px;
  }
}

@media only screen and (max-width: 900px) {
  .search-bar-container {
    right: 300px;
    width: 100%;
    left: 300px;
    top: 95px;

  }
}

@media only screen and (max-width: 850px) {

  .title-icons-container {
    /*background: black;*/
    height: 100px;
  }
}

@media only screen and (max-width: 680px) {

  .title-icons-container {
    visibility: hidden;
  }

  .top-left {
    position: static;
    text-align: center;
    margin-left: 2px;
    padding-top: 20px;
  }

 .top-left-image {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 6px;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1); 
  }

  .logo-title {
    font-family: Domine;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    }
}

@media only screen and (max-width: 680px) {

.search-bar-container label img {
  visibility: hidden;
}
}