/* Controls page element sliding up animations when visible in the viewport */
/* Does not perform well on smaller screen sizes, effect limited to larger viewports */
@media only screen and (min-width: 500px) {
  .come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
    /* 0.8 */
  }
  .come-in:nth-child(odd) {
    animation-duration: 1s; 
    /* 0.6 */
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }
}
}