.img-things-to-do-container-gallery {
    position: relative;
    text-align: center;
}

.img-things-to-do {
    width: 99.5%;
    height: 99.5%;
    font-size: 2em;
}

.title-things-to-do {
    position: absolute;
    top: 40px;
    margin: 0 auto;
    width: 100%;
    color: white;
    font-size: 35pt;
    font-weight: bold;
}

.btn-things-to-do {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(20,25,29,0.3);
    padding: 10px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn-things-to-do a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.btn-things-to-do:hover {
    border: 2px solid #DC1E35;
    color: #DC1E35;
}

/* ============
   RESPONSIVE 
=============== */

* {
    box-sizing: border-box;
}

.img-things-to-do-container-responsive {
    float: left;
    width: 33.333333%;
  }

  @media only screen and (max-width: 1000px) {
    .img-things-to-do-container-responsive {
        width: 50%;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .img-things-to-do-container-responsive {
        width: 100%;
    }

    .btn-things-to-do {
        font-size: 17px;
    }
  }
  




